@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'OPTINaval';
    src: url('~/assets/fonts/OPTINaval.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }