@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'OPTINaval';
    src: url('~/assets/fonts/OPTINaval.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
  transition: transform 0.5s;
}

.slide-enter,
.slide-leave-to {
  transform: translateY(20px);
  opacity: 0;
}